body {
    background-color: slategrey;
    color: #CCF2F4;
    text-align: center;

}
.botao-jogar {
    font-size: 80%;
    background-color: rgb(249, 242, 29);
    border: 5px solid black;
 
}
.tamanhoLetra {
    font-size: 115%;
}